body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Add additional styles for your content if needed */
h1, p {
    text-align: center;
}

h1 {
    font-size: 300%;
    color: #000000;
    font-family: Arial;
}

img.top-left {
    max-width: 50px;  /* Set a specific width for the top-left image */
    height: auto;
}
