body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
}

.center-container {
    text-align: center;
}

h1, h2, p {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}

h1 {
    font-size: 300%;
    margin-bottom: 0;
}

img.logo {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

a.home-link {
    position: absolute;
    top: 10px;
    left: 10px;
}

img.top-left {
    max-width: 50px;
    height: auto;
}

/* Styles for the GitHub link at the bottom right */
a.github-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* New styles for the Discord link at the bottom right */
a.discord-link {
    position: fixed;
    bottom: 70px; /* Adjust the distance from the bottom as needed */
    right: 10px;
}

img.bottom-right {
    max-width: 50px;
    height: auto;
}
